<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <style>
    #vid_container{
      height: 100%;
    }
    video{
      positon: fixed;
      margin: 0, 0, 0, 0;
    }
  </style>
</head>
<body>
  <div>
    <input type="TEXT" value placeholder = "Enter video url" autofocus><button>Display</button></br>
  </div>
  <div id = 'vid_container'></div>
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script>
    $('input').keyup(function(e){
      var url = $('input').val() + '';
      if(e.keyCode == '13' && url !==''){
        $('#vid_container').empty();
        var video_tag = '<video width="100%" height ="100%" controls autoplay><source src=' + url + '><\/video>';
        $('#vid_container').append(video_tag);
      };
    });
    $('button').click(function(){
      var url = $('input').val() + '';
      if(url !== ''){
        $('#vid_container').empty();
        var video_tag = '<video width="100%" height ="100%" controls autoplay><source src=' + url + '><\/video>';
        $('#vid_container').append(video_tag);
      };
    });
  </script>
</body>
</html>
